Operators/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperatorLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperatorLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OperatorLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomains">
        <s:complexType />
      </s:element>
      <s:element name="GetDomainsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetClientsPerGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientsPerGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientsPerGroupResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="operatorName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="operatorName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OrigDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newDomain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="operatorName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetOperatorLogs">
        <s:complexType />
      </s:element>
      <s:element name="GetOperatorLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperatorLogsResult" type="tns:ArrayOfProp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prop" nillable="true" type="tns:Prop" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prop">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatingType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="OperatorLoginSoapIn">
    <wsdl:part name="parameters" element="tns:OperatorLogin" />
  </wsdl:message>
  <wsdl:message name="OperatorLoginSoapOut">
    <wsdl:part name="parameters" element="tns:OperatorLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomains" />
  </wsdl:message>
  <wsdl:message name="GetDomainsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientsPerGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientsPerGroup" />
  </wsdl:message>
  <wsdl:message name="GetClientsPerGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientsPerGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewDomain" />
  </wsdl:message>
  <wsdl:message name="AddNewDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewDomainResponse" />
  </wsdl:message>
  <wsdl:message name="EditDomainSoapIn">
    <wsdl:part name="parameters" element="tns:EditDomain" />
  </wsdl:message>
  <wsdl:message name="EditDomainSoapOut">
    <wsdl:part name="parameters" element="tns:EditDomainResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDomainSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDomain" />
  </wsdl:message>
  <wsdl:message name="DeleteDomainSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperatorLogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperatorLogs" />
  </wsdl:message>
  <wsdl:message name="GetOperatorLogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperatorLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OperatorLogin">
      <wsdl:input message="tns:OperatorLoginSoapIn" />
      <wsdl:output message="tns:OperatorLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <wsdl:input message="tns:GetDomainsSoapIn" />
      <wsdl:output message="tns:GetDomainsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsPerGroup">
      <wsdl:input message="tns:GetClientsPerGroupSoapIn" />
      <wsdl:output message="tns:GetClientsPerGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewDomain">
      <wsdl:input message="tns:AddNewDomainSoapIn" />
      <wsdl:output message="tns:AddNewDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditDomain">
      <wsdl:input message="tns:EditDomainSoapIn" />
      <wsdl:output message="tns:EditDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <wsdl:input message="tns:DeleteDomainSoapIn" />
      <wsdl:output message="tns:DeleteDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperatorLogs">
      <wsdl:input message="tns:GetOperatorLogsSoapIn" />
      <wsdl:output message="tns:GetOperatorLogsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperatorLogin">
      <soap:operation soapAction="http://tempuri.org/OperatorLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <soap:operation soapAction="http://tempuri.org/GetDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsPerGroup">
      <soap:operation soapAction="http://tempuri.org/GetClientsPerGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewDomain">
      <soap:operation soapAction="http://tempuri.org/AddNewDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDomain">
      <soap:operation soapAction="http://tempuri.org/EditDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap:operation soapAction="http://tempuri.org/DeleteDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperatorLogs">
      <soap:operation soapAction="http://tempuri.org/GetOperatorLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperatorLogin">
      <soap12:operation soapAction="http://tempuri.org/OperatorLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <soap12:operation soapAction="http://tempuri.org/GetDomains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsPerGroup">
      <soap12:operation soapAction="http://tempuri.org/GetClientsPerGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewDomain">
      <soap12:operation soapAction="http://tempuri.org/AddNewDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDomain">
      <soap12:operation soapAction="http://tempuri.org/EditDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap12:operation soapAction="http://tempuri.org/DeleteDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperatorLogs">
      <soap12:operation soapAction="http://tempuri.org/GetOperatorLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:3729/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:3729/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>